html{
    font-size: 10px;
    margin: 0;
    padding: 0;
    
}

li{
    list-style: none;
}

/* Navbar*/
.navalan{
    width: 100%;
    background-color: #0BB49E;
}
.navcolor{
    background-color: #0BB49E;
    height: 5rem;
}
#linkkapsayici div{
    
    color:#FAFAFA; 
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: #0BB49E;
    float: left;
    height: 7rem;
    display:inline-block;
    font-size: 4rem;
    padding-top:0.60rem; 
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

#linkkapsayici div:hover{
    
    background-color: #11A3A9; 
}


#mainalan{
    background-color: #ff9a3c;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: auto;
}



/*---------------------------------------------------------------*/





.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}


@media screen and (max-width:500px){
    
    .login {
      width: 30rem;
      margin: 1rem auto;
      font-size: 3rem;
}

    
}





.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}


.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}


.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}


.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}


.login input[type="submit"]:focus {
  border-color: #05a;
}






















/*-------------------------------------------------------------------------*/

/*footer-------------*/
#alan{
    width: 100%;
    height: 25rem;
    background-color: #2E4053;
}
.imza{
    display: inline-block;
    position: absolute;
    width: 20rem;
    height: 12rem;
    font-size: 10rem;
    margin-top: 6rem;
    margin-left: 15rem;
    font-family: 'El Messiri', sans-serif;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    color: #9A7D0A;
}
.imza:hover{
    
    transform: translateY(1rem);
    transform: translateX(1rem);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.altsosyal {
    display: inline-block;
    padding-left: 45%;
    
}
.fora li{
    font-size: 5rem;
    color: #9A7D0A;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
.fora i:hover{
    color: #DAB31A;
    
}
.fora a:visited{
    color: #9A7D0A;
    text-decoration:none
    
}

.iletisim{
    
    position: relative;
    margin-right: 5rem;
    margin-top: 5rem;
    position:relative;
    float: right;
    color: #9A7D0A;
    font-family: 'Baloo Da 2', cursive;
}

.sizebig{
    font-size: 4rem;
}
.sizesmall{
    font-size: 2rem;
}

/*70px----footer-----*/

@media screen and (max-width:960px)
{
    .imza{
        
        width: 10rem;
        height: 6rem;
        font-size: 5rem;
        margin-top: 9rem;
        margin-left: 2rem;
    }
    
    
    .altsosyal {
        display: inline-block;
        padding-left: 30%;

        padding-top: 3rem;
    }
    .fora li{
        font-size: 4rem;
    }
    
    .iletisim{
        margin-right: 1.3rem;
        margin-top: 8rem;
        
    }

    .sizebig{
        font-size: 2rem;
        }
    .sizesmall{
        font-size: 1.3rem;
        }
}
