body {
    background-image: url('../images/beyaz1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-style: italic;
}

h6{
    color: black; 
}
h3{
    font-style: italic;
}
